* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --generalFont: 'Poppins', sans-serif;
}
.App {
  display: grid;
  overflow-x: hidden;
  flex-wrap: wrap;
  font-family: var(--generalFont);
}
/* 
Card {
  background-color: red;
} */